.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  //background-color: #424242;
  background: rgb(48,48,48);
  background: linear-gradient(0deg, rgba(48,48,48,1) 0%, rgba(100,100,100,1) 50%, rgba(150,150,150,1) 100%);
  //margin-top: 10px;
  padding: 25px;
}

button {
  height: 50px;
  width: 100px;
  justify-self: flex-end;
  align-self: flex-end;
  grid-column: 3;
  grid-row: 2;
}

img {
  grid-column: 2;
  justify-self: center;
  width: 100%;
}

mat-tab-group {
  width: fit-content;
  grid-column: 1;
  grid-row: 2;
}

.logout {
  background-color: #d35656;
}

.login {
  background-color: #298829;
}
