<div class="wrapper">
  <img src="assets/medias/pokedex.png" alt="pokedex-img">
  <button *ngIf="refreshToken && this.router.url !== '/login'" mat-raised-button (click)="logout()">Logout</button>
  <button *ngIf="!refreshToken && this.router.url !== '/login'" mat-raised-button (click)="login()">Login</button>
  <mat-tab-group *ngIf="this.router.url !== '/login'" (selectedTabChange)="navigate($event)" [selectedIndex]="this.index">
    <mat-tab label="Pokedex"></mat-tab>
    <mat-tab [disabled]="!refreshToken" label="Team"></mat-tab>
  </mat-tab-group>
</div>
