<div>
  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>pokemon name</mat-label>
    <input matInput type="text" placeholder="pika" style="height: 100%" [(ngModel)]="curPokemonNameSearched" (ngModelChange)="test($event)">
  </mat-form-field>
  <mat-nav-list style="width: 100%" infiniteScroll (scrolled)="onScroll()" [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" [scrollWindow]="false">
    <mat-list-item *ngFor="let pokemon of pokemons.data" (click)="pokemonClick.emit(pokemon.id)">
      <img src='assets/assets/img/sprites/{{pokemon.id}}.png' alt="{{pokemon.name}}">
      <mat-label>{{pokemon.id + '. ' + pokemon.name}}</mat-label>
    </mat-list-item>
  </mat-nav-list>
</div>


