img {
  height: 50px;
}

mat-list {
  background-color: dimgrey;
  width: max-content;
  //overflow: auto;
  //height: 500px;
}

mat-nav-list {
  background-color: dimgrey;
  width: max-content;
  overflow: auto;
  //height: 200px;
}

mat-list-item mat-label {
  color: white;
}
