img {
  height: 200px;
  width: 200px;
}

mat-list mat-list-item {
  color: lightgrey;
}

mat-chip {
  background-color: #808080;
  color: lightgrey;
}

.play-button {
  background-color: transparent;
  border-width: 0;
  color: lightgrey;
}
