<div *ngIf="pokemonDetails">
  <mat-card style="background-color: dimgrey; color: lightgrey; height: fit-content; width: 400px">
    <mat-grid-list cols="2" rowHeight="50px">
          <mat-grid-tile rowspan="5" colspan="1">
            <mat-list>
              <mat-list-item style="height: fit-content; width: fit-content"><img [src]="pokemonImgSrc" alt="{{pokemonDetails.name}}"></mat-list-item>
              <div style="text-align: center">
                 No. {{ pokemonDetails.id | number: '3.0-0'}}
              </div>
            </mat-list>
          </mat-grid-tile>
          <mat-grid-tile rowspan="5" colspan="1">
            <mat-list>
              <mat-list-item>
                {{ pokemonDetails.name }} <button class="play-button" (click)="audioElement.play()"><mat-icon>play_circle_outline</mat-icon></button>
                <audio #audioElement src="assets/assets/audio/{{pokemonDetails.id}}.mp3" autoplay></audio>
              </mat-list-item>
              <mat-list-item>
                <mat-chip-list>
                  <mat-chip class="types-list" *ngFor="let type of pokemonDetails.types"> {{type}} </mat-chip>
                </mat-chip-list>
              </mat-list-item>
              <mat-list-item> Taille: {{ pokemonDetails.height | number: '.1' }} </mat-list-item>
              <mat-list-item> Poids: {{ pokemonDetails.weight | number: '.1'}} </mat-list-item>
            </mat-list>
          </mat-grid-tile>
          <mat-grid-tile rowspan="2" colspan="2">
            {{ pokemonDetails.description }}
          </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</div>

